
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.2/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer */
.ui-content.Kontakte_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* mobilelist_2 */
.ui-page .Kontakte_mobilelist_2 {
	margin: 15px 0px 0px 0px;
}
/* mobilelistitem_3 */
.ui-mobile-viewport ul[data-role="listview"] li.Kontakte_mobilelistitem_3 {
	padding: 0;
	margin: 0;
}
.ui-mobile-viewport ul[data-role="listview"] li.Kontakte_mobilelistitem_3 .ui-li-static-container {
	padding: 0.7em 2.5em 0.7em 1em;
}
.ui-mobile-viewport ul[data-role="listview"] li.Kontakte_mobilelistitem_3 .ui-li-static-container h3 {
	margin: 0;
}
.ui-mobile-viewport ul[data-role="listview"] li.Kontakte_mobilelistitem_3.ui-icon-none .ui-li-static-container {
	padding-right: 0px; /* consider nothing */
}
/* mobilelistitembutton_4 */
.Kontakte_mobilelistitembutton_4 {

}
/* mobilelistitem_5 */
.ui-mobile-viewport ul[data-role="listview"] li.Kontakte_mobilelistitem_5 {
	padding: 0;
	margin: 0;
}
.ui-mobile-viewport ul[data-role="listview"] li.Kontakte_mobilelistitem_5 .ui-li-static-container {
	padding: 0.7em 2.5em 0.7em 1em;
}
.ui-mobile-viewport ul[data-role="listview"] li.Kontakte_mobilelistitem_5 .ui-li-static-container h3 {
	margin: 0;
}
.ui-mobile-viewport ul[data-role="listview"] li.Kontakte_mobilelistitem_5.ui-icon-none .ui-li-static-container {
	padding-right: 0px; /* consider nothing */
}
/* mobilelistitembutton_6 */
.Kontakte_mobilelistitembutton_6 {

}
/* mobilelistitem_7 */
.ui-mobile-viewport ul[data-role="listview"] li.Kontakte_mobilelistitem_7 {
	padding: 0;
	margin: 0;
}
.ui-mobile-viewport ul[data-role="listview"] li.Kontakte_mobilelistitem_7 .ui-li-static-container {
	padding: 0.7em 2.5em 0.7em 1em;
}
.ui-mobile-viewport ul[data-role="listview"] li.Kontakte_mobilelistitem_7 .ui-li-static-container h3 {
	margin: 0;
}
.ui-mobile-viewport ul[data-role="listview"] li.Kontakte_mobilelistitem_7.ui-icon-none .ui-li-static-container {
	padding-right: 0px; /* consider nothing */
}
/* mobilelistitembutton_8 */
.Kontakte_mobilelistitembutton_8 {

}
/* mobilelistitem_9 */
.ui-mobile-viewport ul[data-role="listview"] li.Kontakte_mobilelistitem_9 {
	padding: 0;
	margin: 0;
}
.ui-mobile-viewport ul[data-role="listview"] li.Kontakte_mobilelistitem_9 .ui-li-static-container {
	padding: 0.7em 2.5em 0.7em 1em;
}
.ui-mobile-viewport ul[data-role="listview"] li.Kontakte_mobilelistitem_9 .ui-li-static-container h3 {
	margin: 0;
}
.ui-mobile-viewport ul[data-role="listview"] li.Kontakte_mobilelistitem_9.ui-icon-none .ui-li-static-container {
	padding-right: 0px; /* consider nothing */
}
/* mobilelistitembutton_10 */
.Kontakte_mobilelistitembutton_10 {

}
/* mobilelistitem_11 */
.ui-mobile-viewport ul[data-role="listview"] li.Kontakte_mobilelistitem_11 {
	padding: 0;
	margin: 0;
}
.ui-mobile-viewport ul[data-role="listview"] li.Kontakte_mobilelistitem_11 .ui-li-static-container {
	padding: 0.7em 2.5em 0.7em 1em;
}
.ui-mobile-viewport ul[data-role="listview"] li.Kontakte_mobilelistitem_11 .ui-li-static-container h3 {
	margin: 0;
}
.ui-mobile-viewport ul[data-role="listview"] li.Kontakte_mobilelistitem_11.ui-icon-none .ui-li-static-container {
	padding-right: 0px; /* consider nothing */
}
/* mobilelistitembutton_12 */
.Kontakte_mobilelistitembutton_12 {

}
/* mobilelistitem_13 */
.ui-mobile-viewport ul[data-role="listview"] li.Kontakte_mobilelistitem_13 {
	padding: 0;
	margin: 0;
}
.ui-mobile-viewport ul[data-role="listview"] li.Kontakte_mobilelistitem_13 .ui-li-static-container {
	padding: 0.7em 2.5em 0.7em 1em;
}
.ui-mobile-viewport ul[data-role="listview"] li.Kontakte_mobilelistitem_13 .ui-li-static-container h3 {
	margin: 0;
}
.ui-mobile-viewport ul[data-role="listview"] li.Kontakte_mobilelistitem_13.ui-icon-none .ui-li-static-container {
	padding-right: 0px; /* consider nothing */
}
/* mobilelistitembutton_14 */
.Kontakte_mobilelistitembutton_14 {

}
/* mobilelistitem_15 */
.ui-mobile-viewport ul[data-role="listview"] li.Kontakte_mobilelistitem_15 {
	padding: 0;
	margin: 0;
}
.ui-mobile-viewport ul[data-role="listview"] li.Kontakte_mobilelistitem_15 .ui-li-static-container {
	padding: 0.7em 2.5em 0.7em 1em;
}
.ui-mobile-viewport ul[data-role="listview"] li.Kontakte_mobilelistitem_15 .ui-li-static-container h3 {
	margin: 0;
}
.ui-mobile-viewport ul[data-role="listview"] li.Kontakte_mobilelistitem_15.ui-icon-none .ui-li-static-container {
	padding-right: 0px; /* consider nothing */
}
/* mobilelistitembutton_16 */
.Kontakte_mobilelistitembutton_16 {

}
/* mobilelistitem_17 */
.ui-mobile-viewport ul[data-role="listview"] li.Kontakte_mobilelistitem_17 {
	padding: 0;
	margin: 0;
}
.ui-mobile-viewport ul[data-role="listview"] li.Kontakte_mobilelistitem_17 .ui-li-static-container {
	padding: 0.7em 2.5em 0.7em 1em;
}
.ui-mobile-viewport ul[data-role="listview"] li.Kontakte_mobilelistitem_17 .ui-li-static-container h3 {
	margin: 0;
}
.ui-mobile-viewport ul[data-role="listview"] li.Kontakte_mobilelistitem_17.ui-icon-none .ui-li-static-container {
	padding-right: 0px; /* consider nothing */
}
/* mobilelistitembutton_18 */
.Kontakte_mobilelistitembutton_18 {

}
/* mobilelistitem_19 */
.ui-mobile-viewport ul[data-role="listview"] li.Kontakte_mobilelistitem_19 {
	padding: 0;
	margin: 0;
}
.ui-mobile-viewport ul[data-role="listview"] li.Kontakte_mobilelistitem_19 .ui-li-static-container {
	padding: 0.7em 2.5em 0.7em 1em;
}
.ui-mobile-viewport ul[data-role="listview"] li.Kontakte_mobilelistitem_19 .ui-li-static-container h3 {
	margin: 0;
}
.ui-mobile-viewport ul[data-role="listview"] li.Kontakte_mobilelistitem_19.ui-icon-none .ui-li-static-container {
	padding-right: 0px; /* consider nothing */
}
/* mobilelistitembutton_20 */
.Kontakte_mobilelistitembutton_20 {

}
/* mobilefooter */
.Kontakte_mobilefooter {
	min-height:38px;
}